[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_wtf = "*"
requests = "*"
pyyaml = "*"
gunicorn = "*"
simplejson = "*"
sseclient = "*"
pytest-flask = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
flake8 = "*"
codecov = "*"
coverage = "*"

[requires]
python_version = "3.9"
