[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_wtf = "*"
requests = "*"
pyyaml = "*"
gunicorn = "*"
simplejson = "*"
sseclient = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
