<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" />
    <link href="{{ url_for('static', filename='meathook.css') }}" rel="stylesheet" type="text/css">

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/04d344c588.js"></script>
    <title>Meat Hook</title>
</head>

<body>
<div class="alert alert-danger" id="general-error-banner" role="alert"></div>
<div class="alert alert-danger" id="temp-alert-banner" role="alert">
    <em class="fas fa-thermometer-half"></em> Temperature Alert!
</div>

<div class="alert alert-danger" id="rh-alert-banner" role="alert">
    <em class="fas fa-tint"></em> Humidity Alert!
</div>

<div class="alert alert-warning" id="door-alert-banner" role="alert">
    <em class="fas fa-door-open"></em> Door Open!
</div>

<div class="container">
    <div class="row main-row justify-content-center">
        <h1 class="display-4"><em class="fas fa-utensils"></em> Meat Hook</h1>
    </div>
    <div class="row main-row justify-content-center">
        <div class="col-sm-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    Current Status

                    <span class="badge badge-primary" id="cooling-badge">COOLING</span>
                    <span class="badge badge-secondary" id="fan-badge">FAN ON</span>
                    <span class="badge badge-danger" id="disconnected-badge">DISCONNECTED</span>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <em class="fas fa-thermometer-half"></em> Fridge Temperature
                        <div class="progress progress-large">
                            <div aria-valuemax="20" aria-valuemin="0" aria-valuenow="8" class="progress-bar progress-bar-striped bg-primary" id="fridge-temp"
                                 role="progressbar" style="width: 25%"> ˚C
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <em class="fas fa-tint"></em> Fridge Humidity
                        <div class="progress progress-large">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="48" class="progress-bar progress-bar-striped bg-success"
                                 id="fridge-rh" role="progressbar" style="width: 48%"> %
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <em class="fas fa-thermometer-half"></em> External Temperature
                        <div class="progress progress-large">
                            <div aria-valuemax="40" aria-valuemin="0" aria-valuenow="30" class="progress-bar progress-bar-striped bg-warning"
                                 id="external-temp"
                                 role="progressbar" style="width: 75%"> ˚C
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row main-row justify-content-center">
        <div class="col-sm-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    Controls
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em class="fas fa-thermometer-half"></em> Automatic Temperature
                            </div>
                            <div class="col">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-success btn-sm " id="temp-ctl-on">
                                        <input autocomplete="off" id="temp-ctl-on-input" name="auto-temp" type="radio" value="ON">ON
                                    </label>
                                    <label class="btn btn-outline-secondary btn-sm" id="temp-ctl-off">
                                        <input autocomplete="off" id="temp-ctl-off-input" name="auto-temp" type="radio" value="OFF">OFF
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em class="fas fa-fan"></em> Fan
                            </div>
                            <div class="col">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-success btn-sm" id="fan-ctl-on">
                                        <input autocomplete="off" id="fan-ctl-on-input" name="fan-state" type="radio" value="ON" >ON
                                    </label>
                                    <label class="btn btn-outline-secondary btn-sm" id="fan-ctl-off">
                                        <input autocomplete="off" id="fan-ctl-off-input" name="fan-state" type="radio" value="OFF">OFF
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em class="fas fa-thermometer-half"></em> Temperature Setpoint
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-sm mb-3">
                                    <input aria-label="degrees celcius" class="form-control" id="temp-setpoint-input" placeholder="Loading" type="text">
                                    <div class="input-group-append">
                                        <span class="input-group-text">˚C</span>
                                        <button class="btn btn-outline-primary btn-sm" id="temp-setpoint" type="button">Set</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row main-row justify-content-center">
        <div class="col-sm-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    Energy Saving
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em class="fas fa-dollar-sign"></em> Enable
                            </div>
                            <div class="col-4">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-success btn-sm" id="energy-saving-on">
                                        <input autocomplete="off" id="energy-saving-on-input" name="fan-state" type="radio" value="ON" >ON
                                    </label>
                                    <label class="btn btn-outline-secondary btn-sm" id="energy-saving-off">
                                        <input autocomplete="off" id="energy-saving-off-input" name="fan-state" type="radio" value="OFF">OFF
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em class="fas fa-thermometer-half"></em> Activate between
                            </div>
                            <div class="col-6">
                                <div class="input-group input-group-sm mb-3">
                                    <input style="max-width:70px" aria-label="hours" class="form-control" id="overnight-time1-input"
                                           placeholder="22:00"
                                           type="text">
                                    <div class="input-group-append input-group-sm">
                                        <span class="input-group-text">and</span>
                                            <input style="max-width:70px" aria-label="hours" class="form-control" id="overnight-time2-input"
                                            placeholder="10:00"
                                            type="text">
                                        <button class="btn btn-outline-primary btn-sm" id="overnight-time-btn"
                                                type="button">
                                            Set
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em class="fas fa-thermometer-half"></em> Overnight Temperature
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-sm mb-3">
                                    <input aria-label="degrees celcius" class="form-control" id="overnight-temp-input"
                                           placeholder="10.0"
                                           type="text">
                                    <div class="input-group-append">
                                        <span class="input-group-text">˚C</span>
                                        <button class="btn btn-outline-primary btn-sm" id="overnight-temp-btn"
                                                type="button">
                                            Set
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row main-row justify-content-center">
        <div class="col-sm-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    More Controls
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em class="fas fa-microchip"></em> Control Algorithm
                            </div>
                            <div class="col">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-sm" id="control-alg-basic">
                                        <input autocomplete="off" id="control-alg-basic-input" name="ctl-alg" type="radio" value="basic" > Basic
                                    </label>
                                    <label class="btn btn-outline-secondary btn-sm" id="control-alg-pid">
                                        <input autocomplete="off" class="disabled" id="control-alg-pid-input" name="ctl-alg" type="radio" value="pid"> PID
                                    </label>
                                    <label class="btn btn-outline-secondary btn-sm" id="control-alg-learn">
                                        <input autocomplete="off" class="disabled" id="control-alg-learn-input" name="ctl-alg" type="radio" value="learn"> Learning
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em class="fas fa-thermometer-empty"></em> Manual Fridge Control
                            </div>
                            <div class="col-4">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-success btn-sm " id="manual-fridge-ctl-on">
                                        <input autocomplete="off" id="manual-fridge-ctl-on-input" name="fridge-state" type="radio" value="ON"> ON
                                    </label>
                                    <label class="btn btn-outline-secondary btn-sm" id="manual-fridge-ctl-off">
                                        <input autocomplete="off" id="manual-fridge-ctl-off-input" name="fridge-state" type="radio" value="OFF"> OFF
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em class="far fa-bell"></em> Temperature Alarm Threashold
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-sm mb-3">
                                    <input aria-label="degrees celcius" class="form-control" id="temp-alarm-delta-input" placeholder="Loading" type="text">
                                    <div class="input-group-append">
                                        <span class="input-group-text">˚C</span>
                                        <button class="btn btn-outline-primary btn-sm" id="temp-alarm-delta-set" type="button">Set</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em class="far fa-bell"></em> Humidity Alarm Threadshold
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-sm mb-3">
                                    <input aria-label="degrees celcius" class="form-control" id="rh-alarm-limit-input" placeholder="Loading" type="text">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                        <button class="btn btn-outline-primary btn-sm" id="rh-alarm-limit-set" type="button">Set</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='meathook.js') }}"></script>
</body>
</html>
