body {
    background: aliceblue !important;
}
.container {
    padding-bottom:30px;
}
.main-row {
    padding-top:10px;
}
.control-sub-row {
    padding-top:6px;
}
.progress-large {
    height: 25px;
}
@media (max-width: 500px) {
.rotate-stream{
transform:rotate(90deg);
-ms-transform:rotate(90deg); /* IE 9 */
-moz-transform:rotate(90deg); /* Firefox */
-webkit-transform:rotate(90deg); /* Safari and Chrome */
-o-transform:rotate(90deg); /* Opera */
}
}
